{% extends 'base.html.twig' %}

{% block title %}Zone Enseignant!{% endblock %}

{% block body %}

{{ dump(ressource) }}
<table class="table table-bordered col-md-8 mx-auto">
{% for row in ressource %}
<tr>
    <td>{{ row.type }}</td>
    <td>{{ row.Titre }}</td>
    <td>{{ row.Description }}</td>
    <td>{{ row.link }}</td>
    <td>{{ row.createAt|date("d/m/Y") }}</td>
   
  </tr>
  

    
{% endfor %}
</table>
{% endblock %}
